<h1>Please give us a word</h1>
<form action='/results' method='get'>
  <div class="form-group">
    <label for="inputtedWord">Your Word: </label>
    <input id="inputtedWord" name="inputtedWord" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
